@model ChessAndQuests.Models.GameViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div id="gamekey"
     data-game-key="@Model.GameKey">
 </div>

 <div style="display: none">
    @* Black player box *@
    <div class="player-card black" id="blackCard">
        <div class="player-color">BLACK</div>
        <div class="player-name" id="playerBlack">
            @Model.PlayerBlackName
        </div>
    </div>

    @* White player box *@

    <div class="player-card white" id="whiteCard">
        <div class="player-color">WHITE</div>
        <div class="player-name" id="playerWhite">
            @Model.PlayerWhiteName
        </div>
    </div>
 </div>


@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    
    <link rel="stylesheet" href="~/css/chessboard.css" />
    <link rel="stylesheet" href="~/css/PlayGame.css" />
}

@* overlay wait *@
<body class="play-game-page">

    <div id="waitingOverlay">
        <div class="waitingBox">
            <h2>Waiting for opponent...</h2>
            <p> Share your game key with a friend!</p>
            <strong>@Model.GameKey</strong>
        </div>
    </div>

    @* overlay checkmate *@
    <div id="gameOverOverlay">
        <div class="gameOverBox" id="gameOverMessage"></div>
        <a asp-controller="Home" asp-action ="Index" class="backButton">Back to home</a>
        @ViewBag.ErrorDelete
    </div>

<header id="letsplay">Lets play chess!</header>

<header>Lets play chess!</header>

    <section id="gameInfo">
        <div class="moves-container"></div>

        <div class="board-container">
        
            <div id="playerTop"></div>

            <div id="board"></div>

            <div id="playerBottom"></div>

        </div>
        <div class="quest-containter"></div>
    </section>


    <div style="text-align:center; margin-top:1rem;">
        <button id="forfeitButton" class="forfeitButton">Forfeit Game</button>
    </div>




<div id="quests"></div>


</body>

@section Scripts {
    <script src="~/js/chess.js"></script>
    <script src="~/js/chessboard.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        const start_fen = "@Model.CurrentFEN.Trim()";
        const currentPlayerId = @Accessor.HttpContext.Session.GetInt32("PlayerId");
    </script>
    <script src="~/js/Game.js"></script>
}


